* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header_Sec {
  /* width: 100%; */
  height: 40rem;
  background-image: url(./images/1\ \,\ banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.header {
  width: 100%;
  height: 40rem;
  background-image: linear-gradient(to right, #000000, #00000060);
  display: flex;
  flex-direction: column;
}
.header_list {
  height: 3rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;
}
.header_link {
  text-decoration: none;
  color: #ffffff;
}
.header_content {
  /* border: 1px solid white; */
  height: 40rem;
  display: flex;
  align-items: center;
}
.header_head {
  /* border: 1px solid white; */
  width: 40%;
  margin-left: 5%;
  padding: 4%;
}
.header_heading {
  margin-bottom: 5%;
  font-size: 4rem;
}
.header_para {
  font-size: 1.5rem;
}
.header_ORbtn {
  width: 50%;
  padding: 0.8rem;
  margin-top: 5%;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}

/* Menu Section */

.menu_Sec {
  height: 40rem;
  background-color: #171818f1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Menu {
  height: 40rem;
  background-color: #00000081;
}

.menu_img {
  position: relative;
}

.img {
  width: 7%;
}
.img1 {
  position: absolute;
  top: 4rem;
  right: 4rem;
}
.img2 {
  position: absolute;
  top: -3rem;
  right: 15em;
}
.img3 {
  position: absolute;
  top: 2rem;
  left: 17rem;
}
.img4 {
  position: absolute;
  left: -1rem;
}
.img5 {
  position: absolute;
  top: 19rem;
  left: 7rem;
}
.img6 {
  position: absolute;
  top: 19rem;
  right: 4rem;
}
.img7 {
  position: absolute;
  top: 33rem;
  right: 16rem;
}
.img8 {
  position: absolute;
  top: 33rem;
  left: 15rem;
}
.menu_head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.menu_heading {
  font-size: 3rem;
}
.menu_para {
  width: 40%;
  text-align: center;
}

.menu_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.menu_card {
  width: 20%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 1rem;
}
.card_img {
  width: 60%;
}
.card_heading {
  padding: 1rem;
  font-size: 1.5rem;
}
.card_para {
  width: 70%;
  text-align: center;
}

/* delivery Section */
.delivery_Sec {
  width: 100%;
  height: 40rem;
  background-image: url(/images/ban3.png);
  background-size: cover;
  color: #ffffff;
}

.delivery_content {
  /* border: 1px solid white; */
  height: 40rem;
  display: flex;
  align-items: center;
  position: relative;
}
.delivery_head {
  width: 40%;
  padding: 4%;
  position: absolute;
  right: 10px;
}
.delivery_heading {
  margin-bottom: 5%;
  font-size: 3rem;
}
.delivery_para {
  font-size: 1.2rem;
  font-weight: lighter;
}
.delivery_ORbtn {
  width: 50%;
  padding: 0.8rem;
  margin-top: 5%;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}

/* Staf Section */

.Staf_Sec {
  height: 40rem;
  background-color: #171818f1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Staf_content {
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.Staf_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 50%;
  margin: 6rem;
  border: 4px solid white;
}
.Staf_heading {
  font-size: 1.5rem;
}
.Staf_para {
  text-align: center;
  font-size: 2em;
}

/* Discount Section */
.Discount_Sec {
  width: 100%;
  height: 40rem;
  background-image: url(/images/ban5.png);
  background-size: cover;
  color: #ffffff;
}
.Discount_content {
  /* border: 1px solid white; */
  height: 40rem;
  display: flex;
  align-items: center;
  position: relative;
}
.Discount_head {
  width: 40%;
  padding: 4%;
  position: absolute;
  left: 10px;
}
.Discount_heading {
  margin-bottom: 5%;
  font-size: 3rem;
}
.Discount_para {
  font-size: 1.2rem;
  font-weight: lighter;
}
.Discount_ORbtn {
  width: 50%;
  padding: 0.8rem;
  margin-top: 5%;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}

/* About Section */

.About_Sec {
  width: 100%;
  height: 40rem;
  background-image: url(/images/ban6.png);
  background-size: cover;
  color: #ffffff;
}
.About{
  background-color: #000000d0;
}
.About_content {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About_head {
  width: 55%;
  padding: 4%;
}
.About_heading {
  margin-bottom: 5%;
  font-size: 2rem;
  text-align: center;
}
.About_para {
  font-size: 2rem;
}

/* Mail Section */

.Mail_Sec {
  height: 40rem;
  background-color: #171818d7;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Mail_head {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.Mail_heading {
  font-size: 3rem;
  margin: 1rem;
}
.Mail_para {
  width: 40%;
  text-align: center;
  margin: 1rem;

}
.Mail_input{
  width: 25rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  border: none;
}

/* Footer Section */

.Footer_Sec {
  height: 20rem;
  background-color: #171818f1;
  color: #ffffff;
}
.Footer {
  height: 20rem;
  background-color: #00000081;
}
.Footer_content {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */

}
.Footer_card1 {
  width: 30%;
  margin: 3px;
  padding: 2rem;

}
.Footer_card2 {
  width: 15%;
  margin: 3px;
  padding: 2rem;

}
.Footer_img {
  width: 60%;
}
.Footer_heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.Footer_para {
  width: 100%;
  padding: 1rem;
}
.Footer_list {
  list-style: none;
  gap: 5rem;
  padding-left: 1rem;
}
a{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;  
}
.icon{
  font-size: 2rem;
}
.fa-brands{
  padding: 1rem;
}
